<!DOCTYPE html>
<html>
<head>
  <title>MeTube</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to 'MeTube', root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <% unless current_user %>
            <li><%= link_to 'Sign In', signin_path %></li>
            <li><%= link_to 'Sign Up', signup_path %></li>
          <% else %>
            <li><%= link_to current_user.email, current_user %></li>
            <li><%= link_to 'Sign Out', signout_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <%= yield %>

</body>
</html>
