<!DOCTYPE html>
<html>
<head>
  <title>MeTube</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% unless current_user %>
      <%= link_to 'Sign In', signin_path %>
      <%= link_to 'Sign Up', signup_path %>    
    <% else %>
      <%= link_to current_user.email, current_user %>
      <%= link_to 'Sign Out', signout_path %>
    <% end %>
  </nav>

  <h1><%= link_to 'MeTube', root_path %></h1>

  <%= yield %>

</body>
</html>
